{% macro button(title, template = "primary", size = "normal", type = "button", overrides = "") %}
  {% set defaults = "
    font-bold 
    h-[46px] 
    inline-block 
    leading-none
    md:h-[44px] 
    min-w-[120px] 
    px-4 
    rounded-lg 
    text-base 
  " %}

  {% if template == "primary" %}
    <button
      class="
        {{ defaults }} 
        bg-yellow-400 
        hover:bg-yellow-100 
        md:hover:bg-yellow-400 
        transition-colors 
        {{ overrides }}
      "
      type="{{ type }}"
    >
      {{ title }}
    </button>
  {% elseif template == "secondary" %}
    <button
      class="
        {{ defaults }} 
        bg-white 
        border-2 
        border-yellow-400 
        hover:bg-yellow-100 
        transition-colors 
        {{ overrides }}
      "
      type="{{ type }}"
    >
      {{ title }}
    </button>
  {% endif %}
{% endmacro %}