{% macro input(label, type = "text") %}
  {% set defaults = "bg-gray-50" %}
  {% set id = random() %}

  {% if type == "text" %}
    <div class="w-full">
      <input 
        class="
          {{ defaults }} 
          h-12 
          px-4 
          rounded-lg
          w-full 
        " 
        id="{{ id }}" 
        placeholder="{{ label }}" 
        type="text"
      >
    </div>
  {% elseif type == "checkbox" %}
    <div class="relative pl-5">
      <input
        class="
          {{ defaults }} 
          absolute 
          appearance-none 
          checked:bg-yellow-400
          cursor-pointer 
          h-3 
          inline-block 
          left-0 
          rounded-[3px] 
          top-[3px] 
          w-3 
        " 
        id="{{ id }}" 
        type="checkbox"
      >

      <label class="text-sm leading-5 text-white align-top cursor-pointer" for="{{ id }}">
        {{ label }}
      </label>
    </div>
  {% endif %}
{% endmacro %}